# specify which files to ignore from git commits
.gitignore 
**/__pycache__/**
# ignore weirdo mac display file
**/.DS_Store

# ignore folders created for notebook
**/.ipynb_checkpoints/
**/.idea/

# ignore figures for making presentations
*/figs/
